{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6 py-5">
            <h1 class="display-4 text-center py-2">Login</h1>

            {% if next %}
            <div class="text-danger pt-3">
                <i class="material-icons text-danger align-middle">error_outline</i>
                {% if user.is_authenticated %}
                Your account doesn't have access to this page. To proceed, please login with an account that has
                access.
                {% else %}
                Please login to see this page.
                {% endif %}
            </div>
            {% endif %}

            <form class="py-2" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    <input type="text" name="{{ form.username.html_name }}" autofocus autocapitalize="none"
                           autocomplete="username" maxlength="150" required id="id_username" class="form-control">
                </div>
                <div class="form-group">
                    {{ form.password.label_tag }}
                    <input type="password" name="{{ form.password.html_name }}" autocomplete="current-password" required
                           id="id_password" class="form-control">

                    {% if form.errors %}
                    <div class="text-danger pt-3">
                        <i class="material-icons text-danger align-middle">error_outline</i>
                        Your username and password didn't match. Please try again.
                    </div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-block btn-dark btn-md" value="login">
                    <input type="hidden" name="next" value="{{ next }}">
                </div>
                <div class="form-group" id="register-link">
                    <a href="{% url 'password_reset' %}">Lost password?</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
